body, html {
    margin: 0;
    padding: 0;
    background-color: white; 
    overflow: hidden; 
    font-family: "Jacquarda Bastarda 9", serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.photo-wrapper {
    position: absolute;
    z-index: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo {
    height: 50vh; 
    width: auto;
    object-fit: contain;
    opacity: 0.8; 
}

.credits-content {
    z-index: 2; 
    position: absolute;
    width: 100%;
    text-align: center;
    color: black; 
    line-height: 2.8;
    top: 0; 
    left: 0;

    animation: scroll-up-loop 45s linear infinite;
}

h1 {
    font-size: 2rem;
    margin-bottom: 50px;
}

p {
    font-size: 1.2rem;
    margin: 0.5px;
}

@keyframes scroll-up-loop {
    0% {
        transform: translateY(110vh); 
    }
    100% {
        /* Mengontrol scroll up & scroll down -350vh atau -400vh */
        transform: translateY(-300vh); 
    }
}